/* RESET GENERALI */

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

/* ------------------------------------------ */


/* STILE DEBUG */

header{
    padding: 20px;
    background-color:aquamarine;
    min-height: 80px;
}

main{
    padding: 20px;
    background-color: lightcoral;
    min-height: 100px;
    border: 1px solid salmon;
}

section{
    padding: 20px;
    background-color:blanchedalmond;
    min-height: 200px;
    border: 1px solid pink;
}

footer{
    padding: 20px;
    background-color: grey;
    min-height: 300px;
    border: 1px solid black;
}

nav{
    padding: 20px;
    background-color: salmon;
    min-height: 80px;
    border: 1px solid orange;
}

.debug{
    background-color: rgba(64, 64, 204, 0.522);
    padding: 20px;
    border: 2px dashed red;
}

.testa{
    display: flex;
    justify-items: center;
}

.testa > .col{
    padding: 12px;
    background-color: yellow;
    border: 2px dashed darkgoldenrod;
    flex-basis: 100%;
    display:flex;
}

.col.navbar{
    display:flex;
}


.col > .row{
    display: flex;
}

.left{
    flex-basis: calc((100% / 12) * 3);
}

.center{
    flex-basis: calc((100% / 12) * 6);
    justify-content: space-around;
}

.right{
    flex-basis: calc((100% / 12) * 3);
}

.logo{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.links{
    flex-basis: 50%;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    
}

.menu{
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}


.container-main{
    max-width: 600px;
    margin: 0 auto;
}

.main-content{
    background-color: blueviolet;
    border: 2px dashed violet;
    min-height: 300px;
    padding: 12px;
}

.main .col{
    padding: 12px;
    background-color: rgb(20, 215, 141);
    border: 2px dashed rgb(11, 184, 23);
    flex-basis: 100%;
}


.row-2-col{
    flex-direction: row;
    background-color: blueviolet;
    min-height: 300px;
    display: flex;
}

.col5{
    flex-basis: calc((100%/12)*5);
    padding: 12px;
    background-color: yellow;
    border: 2px dashed darkgoldenrod;
    display:flex;
}

.col7{
    flex-basis: calc((100%/12)*7);
    padding: 12px;
    background-color: rgb(255, 149, 0);
    border: 2px dashed rgb(255, 226, 5);
    display:flex;
}
