/* RESET GENERALI */

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    max-width: 900px;
    margin: 0 auto;
}

.container-main{
    max-width: 600px;
    margin: 0 auto;
}

/* ------------------------------------------ */


/* STILE DEBUG */

header{
    padding: 20px;
    background-color:aquamarine;
    min-height: 80px;
}



section{
    padding: 20px;
    background-color:blanchedalmond;
    min-height: 200px;
    border: 1px solid pink;
}

footer .debug{
    padding: 20px;
    background-color: grey;
    min-height: 300px;
    border: 1px solid black;
}

.debug{
    background-color: rgba(64, 64, 204, 0.522);
    /* padding: 20px; */
    border: 2px dashed red;
}

.rowhead{
    flex-direction: row;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }


.col{
    padding: 12px;
    background-color: rgb(20, 215, 141);
    border: 2px dashed rgb(11, 184, 23);
}

.nav{
    flex-direction: row;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center;
   }


.col6{
    flex-basis: calc((100%/12)*6);
    background-color: rgb(255, 149, 0);
    border: 2px dashed rgb(255, 226, 5);
}



.col3{
    flex-direction: row;
    flex-basis: calc((100%/12)*3);
    background-color: rgb(255, 149, 0);
    border: 2px dashed rgb(255, 226, 5);
    display: flex;
}

.main-content{
    background-color: blueviolet;
    border: 2px dashed violet;
    min-height: 300px;
    padding: 12px;
}


.cta{
    min-height: 100px;
}

.cta.row{
    flex-direction: row;
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

.row-multicol{
    flex-direction: row;
    background-color: blueviolet;
    min-height: 300px;
    display: flex;
}

.cta .col{
    padding: 12px;
    background-color: rgb(255, 149, 0);
    border: 2px dashed rgb(255, 226, 5);
}

.col2{
    flex-basis: calc((100%/12)*2);
    padding: 12px;
    background-color: rgb(255, 149, 0);
    border: 2px dashed rgb(255, 226, 5);
}

.col4{
    flex-basis: calc((100%/12)*4);
    padding: 12px;
    background-color: yellow;
    border: 2px dashed darkgoldenrod;
}

.col5{
    flex-basis: calc((100%/12)*5);
    padding: 12px;
    background-color: yellow;
    border: 2px dashed darkgoldenrod;
}

.col7{
    flex-basis: calc((100%/12)*7);
    padding: 12px;
    background-color: rgb(255, 149, 0);
    border: 2px dashed rgb(255, 226, 5);
}

.col8{
    flex-basis: calc((100%/12)*8);
    background-color: blueviolet;
    border: 2px dashed violet;
    min-height: 300px;
    padding: 12px; 
}

.col12{
    flex-basis: calc((100%/12)*12);
    padding: 12px;
    background-color: rgb(40, 126, 0);
    border: 2px dashed rgb(63, 255, 5);
}
